.btn-primary{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
     padding: var(--spacing-sm) var(--spacing-md);
    margin: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-sm);
    font-size: var(--font-size-base);
    cursor: pointer;

}
.btn-primary:hover{
    background-color: var(--primary-hover);
    color: #fff;
    border: none;
     padding: var(--spacing-sm) var(--spacing-md);
    margin: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-sm);
    font-size: var(--font-size-base);
    cursor: pointer;

}